{#
Twig-Template: Tanks-Liste (Migration von .html5)
Erwartete Variablen: tanks (Array) oder items
#}
{% extends "@Contao/frontend_module/_base.html.twig" %}

{% block content %}
    <div class="dc-tanks-listing">
        {% include '@Contao/messages.html.twig' %}
        {% set list = tanks is defined ? tanks : (items is defined ? items : []) %}
        {% if list|length %}
            <ul class="dc-tanks">
                {% for t in list %}
                    <li class="dc-tank">
                        <strong>{{ t.title|default(t.name|default('')) }}</strong>
                        {% if t.volume is defined %}
                            <span class="volume">{{ t.volume }}</span>
                        {% endif %}
                        {% if t.description is defined and t.description %}
                            <div class="description">{{ t.description|raw }}</div>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Keine Tauchgeräte gefunden.</p>
        {% endif %}
    </div>
{% endblock %}
